#ContainerUltimosRegistrosPageComponent{
    background-color:  #5499c7 ;
    height: 100%;
    padding: 36px;
}

#BoxAccionesTablaUltimosRegistros{
    display: flex;
    align-items: center;
}

#BotonVerDetallesRegistro {
    color: #175676;
}