#ContainerDrawnerHomeComponent{
    background-color: #2f4c78;
    height: 100%;
}

#ImagenLogoVpassHomeComponent{
    height: 20vh;
    width: 100%;
    object-fit: contain;
    background-color: #2f4c78;
}

.DividerDrawnerHomeComponent{
    background-color: white;
}

#CuerpoHomeComponent{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: orange;
    width: 100%;
    padding: 15px;
}