#ContainerAlertDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Cambia el fondo del modal (Paper) */
#ContainerAlertDialog .MuiPaper-root {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
}

#DialogActionsAlertDialog {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

#BotonAceptarAlertDialog{
    width: 30%;
}

@media (max-width: 600px) {
  #BotonAceptarAlertDialog {
    width: 45%;
  }
}