#ContainerModalCrearSubZona{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 24;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    min-width: 25%;
    max-width: 70%;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#HeaderModalCrearSubZona{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 4px 0px 16px;
}

#CuerpoModalCrearSubZona{
  display: flex;
  flex-direction: column;
  padding: 0px 10px 24px 10px;
  gap: 20px;
  width: 80%;
}

#BoxButtonSubmitModalCrearSubZona{
  width: 60%;
  margin-top: -10px;
}

@media (max-width: 1073px) {

    #ContainerModalCrearSubZona{
        width: 50%;
    }

}

@media (max-width: 650px) {

    #ContainerModalCrearSubZona{
        width: 70%;
    }

    #CuerpoModalCrearSubZona{
        width: 95%;
    }

    #BoxButtonSubmitModalCrearSubZona{
        width: 70%;
    }
}