#ContainerDashboard {
    display: flex;
    flex-direction: column;
    padding: 3% 8% 8% 8%; 
    background-color: #5499c7;
    width: 100%;
    height: 100%;
}

#DashboardBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: #eaeef7;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.ItemDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 7px 7px 7px !important; 
    border-radius: 20px !important;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 23%;
}

.ItemDashboard:hover {
    background-color:#d6dbdf;
    transform: scale(1.03);
    cursor: pointer;
}

@media (max-width: 1040px) {
    .ItemDashboard {
        width: 45%;
    }
}


@media (max-width: 818px) {
    .ItemDashboard {
        width: 100%;
    }
}

.ImagenNuevaVisitaDashboard{
    height: 20vh;
    width: 100%;
    object-fit: contain;
}

.TituloItemDashboard{
    font-size: 25px;
    font-weight: bold;
    color: black;
}