#ContainerGestionEncomiendasPageComponent{
    background-color:#213d4f;
    height: 100%;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#HeaderGestionEncomiendasPageComponent{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#ItemHeaderGestionEncomiendasPage{
    width: 25%;
}

@media (max-width: 1000px){
    #ItemHeaderGestionEncomiendasPage{
        width: 40%;
    }
}

@media (max-width: 760px){
    #HeaderGestionEncomiendasPageComponent{
        flex-direction: column;
    }
    #ItemHeaderGestionEncomiendasPage{
        width: 100%;
    }
}